<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {pageName: oneProduct.name}) %>
<body>
    <%- include('partials/nav.ejs')%>
    <h1>Show Page</h1>
    <!-- imputting message property from context object in index route in server.js -->
    <p><%= message %></p>
    <!-- product object referenced by oneProduct property of context -->
    <h2><%= oneProduct.name %></h2>
    <!-- same idea for the price -->
    <small><%= oneProduct.price %></small>
    <!-- putting in image with alt of indexed products name -->
    <img class='show-image' src = '<%= oneProduct.image %>' alt = '<%= oneProduct.name %>' />
</body>
</html>