<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1>Show Page</h1>
    <!-- imputting message property from context object in index route in server.js -->
    <p><%= message %></p>
    <!-- product object referenced by oneProduct property of context -->
    <h2><%= oneProduct.name %></h2>
    <!-- same idea for the price -->
    <small><%= oneProduct.price %></small>
    <!-- putting in image with alt of indexed products name -->
    <img src = '<%= oneProduct.image %>' alt = '<%= oneProduct.name %>' />
</body>
</html>